/* Slider */

.s-slider {
    position: relative;
    padding:2rem 0;
    
}

.c-slider {
    &__item {
        width: auto !important;
        text-align: center;
        display: flex !important;
        justify-content: space-between;

        &-description {
            width: 70%;
            line-height: 1.2;
            color: $c-white;
        }

        &-media {
            @include on-circle(50px, 60px);
        }
    }


}





.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    padding: 0 2rem;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    max-height: 12.5rem;
    @include media-breakpoint-down(sm) {
        min-height: 9rem;
    }

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    min-height: 1px;
    margin: 1rem;
    padding: 1rem;
    background-color: $c-gray;
    overflow: auto;

    [dir="rtl"] & {
        float: right;
    }

    &:nth-child(2n+1) {
        background-color: $c-brown;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-initialized .slick-slide {
    display: flex;
    align-items: center;
}