$c-white:#fff;
$c-black:#000000;
$c-dark-gray:#353535;
$c-gray:#97847A;
$c-light-gray:#F7F4F4;


$c-red:#E21B1B;
$c-cream:#FDF8CB;
$c-blue:#7949FF;
$c-gray-blue:#584D77;
$c-dark-gray-blue:#2E2B38;
$c-light-yellow:#FFF48F;
$c-pink:#E8AEAE;
$c-light-light-green:#9EBF81;
$c-table:#8D8D8D;
$c-brown:#C3612A;
$c-table-header:#21173D;
$c-table-border:#828282;
$c-background-table:#E1E1E1;
$c-light-green:#549366;


$c-brand: #3D2C1D;
$c-accent:#FFE600;
$c-text:#21173D;



