$c-white:#fff;
$c-light-gray:#F6F4F4;

$c-red:#FB0404;
$c-red-button:#E21B1B;
$c-red-transparent:rgba(#FB0404,0.58);

$-orange:#FD9535;
$c-dark-gray:#353535;
$c-light-green:#23D154;

$c-accent:#090E0E;
$c-brand:#173D3A;
