$font-base: "Amiri", Arial, "Open Sans", sans-serif;
$font-title: "PaytoneOne", Arial, "Open Sans", sans-serif;
$font-head: "Roboto", Arial, "Open Sans", sans-serif;

$fs-text:0.875rem; //14px
$fs-subtitle:1.5rem; //24px
$fs-title:3rem; //48px
$fs-remark:1.125rem;//18px
