$font-base: "Amiri", Arial, "Open Sans", sans-serif;
$font-title: "PaytoneOne", Arial, "Open Sans", sans-serif;
$font-head: "Roboto", Arial, "Open Sans", sans-serif;

$fs-text:0.875rem; //14px
$fs-small:0.75rem;//12px
$fs-title-2:1.5rem; //24px
$fs-table:1.25rem; //20px
$fs-title:2.5rem; //40px
$fs-remark:1.125rem;//18px
$fs-subtitle: 1.875rem;//30px
