.btn {
  margin-left: auto; 
  
  &-base {
      border: none;
      padding:0.5rem 2.2rem;
      border-radius: 10px;
      font-size: $fs-text;
      color: $c-text;
      font-family: $font-head;
      background-color: $c-accent;
      font-weight: 600;
      border:2px solid $c-accent;
      transition:border,background-color  0.3s ease-in;
      
      &:hover {
        border:2px  solid  rgba($c-text,0.3);
        background-color: transparent;
      }
  }

  @include media-breakpoint-down(md) {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
  }
}