.el-icon {

  &, &-svg {
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
    transition: color 0.3s ease;
    vertical-align: middle;
    fill: currentColor;
  }

  &__svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
    display: block;
  }

}

