
  @font-face {
    font-family: "Amiri";
    font-weight: 600;
    font-style: normal;
    src:  url("../fonts/Amiri-Bold.woff2") format('woff2'),
          url("../fonts/Amiri-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "Amiri";
    font-weight: 600;
    font-style: italic;
    src:  url("../fonts/Amiri-BoldItalic.woff2") format('woff2'),
          url("../fonts/Amiri-BoldItalic.woff") format("woff");
  }

  @font-face {
    font-family: "Amiri";
    font-weight: 300;
    font-style: italic;
    src:  url("../fonts/Amiri-Italic.woff2") format('woff2'),
          url("../fonts/Amiri-Italic.woff") format("woff");
  }

  @font-face {
    font-family: "Amiri";
    font-weight: 300;
    font-style: normal;
    src:  url("../fonts/Amiri-Regular.woff2") format('woff2'),
          url("../fonts/Amiri-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "PaytoneOne";
    font-weight: 300;
    font-style: normal;
    src:  url("../fonts/PaytoneOne-Regular.woff2") format('woff2'),
          url("../fonts/PaytoneOne-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    src:  url("../fonts/Roboto-Regular.woff2") format('woff2'),
          url("../fonts/Roboto-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Roboto";
    font-weight: 600;
    font-style: normal;
    src:  url("../fonts/Roboto-Bold.woff2") format('woff2'),
          url("../fonts/Roboto-Bold.woff") format("woff");
  }





  