{% block footer %}
	<footer class="b-footer">
		<div class="b-footer-wrapper">
            <div class="b-footer__button">
                <button aria-label="button" class="btn-base">
                    Map
                </button>
            </div>

			<address class="b-footer__description">
				Контакты: Арина Карманова, телефон: +375256552274, ariska.karmanova@gmail.com
			</address>
		</div>

	</footer>

	{{ }}
{% endblock %}
