{% extends "./layout/base.twig" %}
{% set pageName = 'index' %}

{% block body %}
<img src="/images/logo.svg" alt="COVID logo">


<div class="your-class">
    <div>your content4</div>
    <div>your content5</div>
    <div>your content6</div>
    <div>your content7</div>
    <div>your content8</div>
    <div>your content9</div>
  </div>
           


{{ }}{% endblock %}
