	{% extends "./layout/base.twig" %}
{% set pageName = 'index' %}

{% block body %}
	<div class="s-base">
		<div class="l-container">
			<div class="s-base__wrapper">
				<div class="s-base__content">
					<h1 class="el-caption">
						Stay home
					</h1>
					<p class="el-description">
						The coronavirus COVID-19 is affecting 199 countries and territories around the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="s-statistic">
		<div class="l-container">
			<div class="s-statistic__wrapper">
				<div class="s-statistic__block">
					<h3 class="el-subtitle el-subtitle--grow">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance
						            ory, or Conveyanc?
					</h3>
					<p class="el-description el-description--light">
						The coronavirus COVID-19 is affecting 199 countries and territories around the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</p>
				</div>

				<div class="s-statistic__block">

					<div class="c-diagram">
						<div class="c-diagram__description">
							<span class="c-diagram__description-item c-diagram__description-item--red">
								infected
							</span>
							<span class="c-diagram__description-item c-diagram__description-item--black">
								died
							</span>
							<span class="c-diagram__description-item c-diagram__description-item--blue">
								recovered
							</span>
						</div>
						<div class="c-diagram__lines">
							<div class="c-diagram__lines-line c-diagram__lines-line--red"></div>

							<div class="c-diagram__lines-line c-diagram__lines-line--black"></div>

							<div class="c-diagram__lines-line c-diagram__lines-line--blue"></div>
						</div>
					</div>

					<p class="el-description">
						The coronavirus COVID-19 is affecting 199 countries and territories around the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="s-grow">
		<div class="l-container">
			<div class="s-grow__wrapper">
				<div class="c-illness">

					<div class="c-illness__item">
						<div class="c-illness__item-description">
							<p class="c-illness__item-text">
								Orld and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS
							</p>
						</div>

						<div class="c-illness__item-visualisation">
							<figure class="c-illness__item-media">
								<img class="c-illness__item-img" src="/images/Group.png" alt="graphic in show peoples, which recover in different grow">
							</figure>
						</div>
					</div>

					<div class="c-illness__item">
						<div class="c-illness__item-description">
							<p class="c-illness__item-text">
								Orld and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS
							</p>
						</div>

						<div class="c-illness__item-visualisation">
							<figure class="c-illness__item-media">
								<img class="c-illness__item-img" src="/images/Group1.png" alt="graphic in show peoples, which recover in different grow">
							</figure>
						</div>
					</div>

					<div class="c-illness__item">
						<div class="c-illness__item-description">
							<p class="c-illness__item-text">
								Orld and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS
							</p>
						</div>

						<div class="c-illness__item-visualisation">
							<figure class="c-illness__item-media">
								<img class="c-illness__item-img" src="/images/Group 2.png" alt="graphic in show peoples, which recover in different grow">
							</figure>
						</div>
					</div>


				</div>
			</div>
		</div>

	</div>

	<div class="s-slider">
		<div class="l-container">
			<div class="s-slider__wrapper">
				<h2 class="el-caption el-caption--blue">
					This is our famous,you can call them
				</h2>
			</div>

			<button class="el-arrow-prev"> </button>
			<div class="c-slider">
				<div class="c-slider__item">
					<figure class="c-slider__item-media">
						<img src="images/avatar.jpg" alt="" class="c-slider__item-img">
					</figure>
					<p class="c-slider__item-description">rld and 2 orld and 2 international conveyances: the Diamond Princess cruise ship </p>
				</div>

				<div class="c-slider__item">
					<figure class="c-slider__item-media">
						<img src="images/avatar.jpg" alt="" class="c-slider__item-img">
					</figure>
					<p class="c-slider__item-description">rld and 2 orld and 2 international conveyances: the Diamond Princess cruise ship </p>
				</div>

				<div class="c-slider__item">
					<figure class="c-slider__item-media">
						<img src="images/avatar.jpg" alt="" class="c-slider__item-img">
					</figure>
					<p class="c-slider__item-description">rld and 2 orld and 2 international conveyances: the Diamond Princess cruise ship </p>
				</div>

				<div class="c-slider__item">
					<figure class="c-slider__item-media">
						<img src="images/avatar.jpg" alt="" class="c-slider__item-img">
					</figure>
					<p class="c-slider__item-description">rld and 2 orld and 2 international conveyances: the Diamond Princess cruise ship </p>
				</div>

				<div class="c-slider__item">
					<figure class="c-slider__item-media">
						<img src="images/avatar.jpg" alt="" class="c-slider__item-img">
					</figure>
					<p class="c-slider__item-description">rld and 2 orld and 2 international conveyances: the Diamond Princess cruise ship </p>
				</div>

				<div class="c-slider__item">
					<figure class="c-slider__item-media">
						<img src="images/avatar.jpg" alt="" class="c-slider__item-img">
					</figure>
					<p class="c-slider__item-description">rld and 2 orld and 2 international conveyances: the Diamond Princess cruise ship </p>
				</div>

				<div class="c-slider__item">
					<figure class="c-slider__item-media">
						<img src="images/avatar.jpg" alt="" class="c-slider__item-img">
					</figure>
					<p class="c-slider__item-description">rld and 2 orld and 2 international conveyances: the Diamond Princess cruise ship </p>
				</div>

				<div class="c-slider__item">
					<figure class="c-slider__item-media">
						<img src="images/avatar.jpg" alt="" class="c-slider__item-img">
					</figure>
					<p class="c-slider__item-description">rld and 2 orld and 2 international conveyances: the Diamond Princess cruise ship </p>
				</div>	
			</div>
			<button class="el-arrow-next"> </button>
		</div>
	</div>  

	{{ }}
{% endblock %}
