{% extends "./layout/base.twig" %}
{% set pageName = 'questions' %}

{% block body %}
	<div class="s-base s-base--hand">
		<div class="l-container">
			<div class="s-base__wrapper">
				<div class="s-base__content s-base__content--black">
					<h1 class="el-caption el-caption--white">
						This is statistic in our world
					</h1>
					<p class="el-description el-description--white">
						The coronavirus COVID-19 is affecting 199 countries and territories around the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="s-general">
		<div class="l-container">
			<h1 class="s-general__caption">
				List the most popular questions
			</h1>

			<div class="c-accordeon js-accordeon">
				<div class="c-accordeon__block">
					<div class="c-accordeon__block-header">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance?
					</div>
					<div class="c-accordeon__block-description  hide">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance
						The coronavirus COVID-19 is affecting 199 countries and territories around the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</div>
				</div>

				<div class="c-accordeon__block">
					<div class="c-accordeon__block-header">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance?
					</div>
					<div class="c-accordeon__block-description  hide">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance
						The coronavirus COVID-19 is affecting 199 countries and territories around the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</div>
				</div>

				<div class="c-accordeon__block">
					<div class="c-accordeon__block-header">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance?
					</div>
					<div class="c-accordeon__block-description hide">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance
						The coronavirus COVID-19 is affecting 199 countries and territories around the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</div>
				</div>

				<div class="c-accordeon__block">
					<div class="c-accordeon__block-header">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance?
					</div>
					<div class="c-accordeon__block-description hide">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance
						The coronavirus COVID-19 is affecting 199 countries and territories around the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</div>
				</div>

				<div class="c-accordeon__block">
					<div class="c-accordeon__block-header">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance?
					</div>
					<div class="c-accordeon__block-description hide">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance
						The coronavirus COVID-19 is affecting 199 countries and territories around the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</div>
				</div>

				<div class="c-accordeon__block">
					<div class="c-accordeon__block-header">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance?
					</div>
					<div class="c-accordeon__block-description hide">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance
						The coronavirus COVID-19 is affecting 199 countries and territories around the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</div>
				</div>

				<div class="c-accordeon__block">
					<div class="c-accordeon__block-header">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance?
					</div>
					<div class="c-accordeon__block-description hide">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance
						The coronavirus COVID-19 is affecting 199 countries and territories around the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</div>
				</div>

				<div class="c-accordeon__block">
					<div class="c-accordeon__block-header">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance?
					</div>
					<div class="c-accordeon__block-description hide">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance
						The coronavirus COVID-19 is affecting 199 countries and territories around the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</div>
				</div>

				<div class="c-accordeon__block">
					<div class="c-accordeon__block-header">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance?
					</div>
					<div class="c-accordeon__block-description hide">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance
						The coronavirus COVID-19 is affecting 199 countries and territories around the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ }}
{% endblock %}
