{% extends "./layout/base.twig" %}
{% set pageName = 'vaccination' %}

{% block body %}
	<div class="s-base s-base--vaccination">
		<div class="l-container">
			<div class="s-base__wrapper">
				<div class="s-base__content s-base__content--white">
					<h1 class="el-caption">
						We do it Vaccination
					</h1>
					<p class="el-description">
						The coronavirus COVID-19 is affecting 199 countries and territories around the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="s-general">
		<div class="l-container">
			<div class="c-inf">
				<div class="c-inf__block">
					<p class="c-inf__block-description">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance
						The coronavirus COVID-19 is affecting 199 countries and territories 
						round the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</p>
					<figure class="c-inf__block-media">
						<img src="/images/block1.jpg" alt="" class="c-inf__block-img">
					</figure>
				</div>

				<div class="c-inf__block">
					<p class="c-inf__block-description">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance
						The coronavirus COVID-19 is affecting 199 countries and territories 
						round the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</p>
					<figure class="c-inf__block-media">
						<img src="/images/block2.jpg" alt="" class="c-inf__block-img">
					</figure>
				</div>

				<div class="c-inf__block">
					<p class="c-inf__block-description">
						Confirmed Cases and Deaths by Country, Territory, or Conveyance
						The coronavirus COVID-19 is affecting 199 countries and territories 
						round the world and 2 international conveyances: the Diamond Princess cruise ship harbored in Yokohama, Japan, and the Holland America's MS Zaandam cruise ship. The day is reset after midnight GMT+0.
					</p>
					<figure class="c-inf__block-media">
						<img src="/images/block3.jpg" alt="" class="c-inf__block-img">
					</figure>
				</div>


			</div>
		</div>
	</div>


	{{ }}
{% endblock %}
