<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script src="../js/jquery.arcticmodal-0.3.css"></script>
</head>

<body>
    {% block header %}
    {% include '../base/header.twig' %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block footer %}
    {% include '../base/footer.twig' %}
    {% endblock %}

    <div style="display: none !important">
        {% include '../sprite_inline.svg' %}
    </div>

    {% block scripts %}
    <script src="../js/libs/jquery-3.2.1.min.js"></script>
    <script src="../js/jquery.arcticmodal-0.3.min.js"></script>
    <script src="../js/libs/slick.js"></script>
    <script src="../js/script.js"></script>

    {% endblock %}
</body>

</html>